<div class="container">
  <h1>Realize seu cadastro</h1>
  <form class="form" (ngSubmit)="register()">
    <fieldset>
      <legend>Registra-se </legend>
      <hr />
      <div class="inputs">
        <label for="email">Email:</label>
        <input
          class="input-box"
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      <div class="inputs">
        <label for="senha">Senha:</label>
        <input
          class="input-box"
          type="password"
          id="senha"
          [(ngModel)]="senha"
          name="senha"
          required
        />
      </div>
      <hr />
      <div class="buttons-box">
        <button class="buttons" type="submit">Cadastrar</button>
        <span style="font-size: x-large;">|</span>
        <button class="buttons" (click)="backToHome()">Retornar</button>
      </div>
    </fieldset>
  </form>
</div>
