* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-container {
  background: #add8e6;
  height: 100%;
}

.home-header {
  color: black;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  background: linear-gradient(360deg, #add8e6, #6896a6);
}

.add-button {
  margin-right: 8px;
}

.buttons {
  height: 32px;
  width: 150px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.logout-button {
  width: 50px;
  height: 24px;
}

.buttons:hover {
  color: white;
  background: black;
}

.google:hover {
  background: linear-gradient(145deg, #4285f4, #34a853, #fbbc05, #ea4335);
}
