<div class="home-container">
  <header class="home-header">
    <h1>Consulta Tracker</h1>
  </header>

  <!-- <div *ngIf="!auth.user">
    <form>
      <fieldset>
        <legend>Login</legend>
        <div>Email</div>
        <input type="text" name="email" [(ngModel)]="email" />
        <div>Senha</div>
        <input type="password" name="password" [(ngModel)]="password" />
        <hr />
        <button
          class="buttons"
          (click)="auth.emailSignin(this.email, this.password)"
        >
          Login with e-mail
        </button>
        |
        <button class="buttons google" (click)="auth.googleSignin()">
          Login with Google
        </button>
      </fieldset>
    </form>
  </div> -->

  <div *ngIf="auth.error" style="color: red">
    {{ auth.error }}
  </div>

  <div *ngIf="!auth.user">
    Bem vindo, logado como: <b>{{ auth.user.email }}</b> |
    <button class="logout-button buttons" (click)="auth.signOut()">Sair</button>
    <hr />

    <h2>Agendar Consulta</h2>

    <button class="buttons add-button">Adicionar Consulta</button>
    <button class="buttons">Listar Consultas</button>

    <hr />
    <div>Name:</div>
    <div><input [(ngModel)]="formNewName" /></div>
    <div>Age:</div>
    <div><input type="number" [(ngModel)]="formNewAge" /></div>
    <br />
    <button (click)="addItem()">Adicionar</button>
    <hr />
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Commmand</th>
      </tr>
      <tr *ngFor="let item of list | async">
        <td [title]="['chave: ' + item.key]">{{ item.name }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.email }}</td>
        <td>
          <button (click)="deleteItem(item.key)">Remove</button>
        </td>
      </tr>
    </table>
  </div>
</div>
