<h2>Exames</h2>

<select (change)="onChangeEspecialidade($event)" [(ngModel)]="especialidade">
  <option value="">Selecione uma especialidade</option>
  <option *ngFor="let esp of especialidades" [value]="esp.nome">
    {{ esp.nome }}
  </option>
</select>

<select *ngIf="especialidade" [(ngModel)]="selectedMedico">
  <option value="">Selecione um médico</option>
  <option *ngFor="let medico of getMedicosEspecialidade()" [value]="medico">
    {{ medico }}
  </option>
</select>

<h3 *ngIf="selectedMedico">Médico selecionado: {{ selectedMedico }}</h3>

<select *ngIf="selectedMedico" [(ngModel)]="selectedHorario">
  <option value="">Selecione um horário</option>
  <option *ngFor="let horario of horarios" [value]="horario">
    {{ horario }}
  </option>
</select>

<h3 *ngIf="selectedHorario">Horário selecionado: {{ selectedHorario }}</h3>

<button *ngIf="selectedHorario" (click)="agendar()">Agendar</button>
<div *ngIf="!hide">
  <table border="1">
    <tr>
      <th>Médico</th>
      <th>Horário</th>
      <th>Especialidade</th>
      <th>Commmand</th>
    </tr>
    <tr *ngFor="let item of list | async">
      <td [title]="['chave: ' + item.key]">{{ item.selectedMedico }}</td>
      <td>{{ item.selectedHorario }}</td>
      <td>{{ item.especialidade }}</td>
      <td>
        <button (click)="RemoverExame(item.key)">Remove</button>
      </td>
    </tr>
  </table>
</div>
