<div>
  <h3 style="font-weight: 400;">Selecione a especialidade</h3>

  <select
    class="exames-select"
    (change)="onChangeEspecialidade($event)"
    [(ngModel)]="especialidade"
  >
    <option value="">Especialidades</option>
    <option *ngFor="let esp of especialidades" [value]="esp.nome">
      {{ esp.nome }}
    </option>
  </select>

  <h3 style="font-weight: 400;" *ngIf="especialidade">
    Selecione o profissional
  </h3>
</div>

<div>
  <select
    class="exames-select"
    *ngIf="especialidade"
    [(ngModel)]="selectedMedico"
  >
    <option value="">Médicos</option>
    <option *ngFor="let medico of getMedicosEspecialidade()" [value]="medico">
      {{ medico }}
    </option>
  </select>

  <h3 style="font-weight: 400;" *ngIf="selectedMedico">
    Médico selecionado: {{ selectedMedico }}
  </h3>
</div>

<div>
  <select
    class="exames-select"
    *ngIf="selectedMedico"
    [(ngModel)]="selectedHorario"
  >
    <option value="">Selecione um horário</option>
    <option *ngFor="let horario of horarios" [value]="horario">
      {{ horario }}
    </option>
  </select>

  <h3 style="font-weight: 400;" *ngIf="selectedHorario">
    Horário selecionado: {{ selectedHorario }}
  </h3>
</div>

<button class="agendar-btn" *ngIf="selectedHorario" (click)="agendar()">
  Agendar
</button>

<div *ngIf="examTable">
  <h2>Minhas Consultas</h2>
  <table style="margin: 0" border="1">
    <tr>
      <th>Médico</th>
      <th>Horário</th>
      <th>Especialidade</th>
    </tr>
    <tr *ngFor="let item of list | async">
      <td [title]="['chave: ' + item.key]">{{ item.selectedMedico }}</td>
      <td>{{ item.selectedHorario }}</td>
      <td>{{ item.especialidade }}</td>
      <td>
        <button (click)="RemoverExame(item.key)">Remover Exame</button>
      </td>
    </tr>
  </table>
</div>
