<div *ngIf="mostrarFormulario">
  <div>
    <h3 style="font-weight: 400;">Selecione a especialidade</h3>

    <select
      class="exames-select"
      (change)="onChangeEspecialidade($event)"
      [(ngModel)]="especialidade"
    >
      <option value="">Especialidades</option>
      <option *ngFor="let esp of especialidades" [value]="esp.nome">
        {{ esp.nome }}
      </option>
    </select>
  </div>

  <div *ngIf="especialidade">
    <h3 style="font-weight: 400;">Selecione o profissional</h3>

    <select class="exames-select" [(ngModel)]="selectedMedico">
      <option value="">Médicos</option>
      <option
        *ngFor="let medico of getMedicosEspecialidade()"
        [value]="medico.nome"
      >
        {{ medico.nome }}
      </option>
    </select>

    <h3 style="font-weight: 400;" *ngIf="selectedMedico">
      Médico selecionado: {{ selectedMedico }} | Escolha a data:
    </h3>
  </div>

  <div *ngIf="selectedMedico">
    <div>
      <input
        type="date"
        id="calendar"
        name="date"
        required
        class="date-picker"
        pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
        [(ngModel)]="calendar"
      />
    </div>
    <h3 style="font-weight: 400;" *ngIf="selectedMedico">
      Data da consulta: {{ calendar }} | Agora o horário:
    </h3>
  </div>

  <div *ngIf="calendar">
    <select class="exames-select" [(ngModel)]="selectedHorario">
      <option value="">Selecione um horário</option>
      <option
        *ngFor="let horario of getHorariosMedico(selectedMedico)"
        [value]="horario"
      >
        {{ horario }}
      </option>
    </select>

    <h3 style="font-weight: 400;" *ngIf="selectedHorario">
      Horário selecionado: {{ selectedHorario }}
    </h3>
  </div>

  <button
    class="agendar-btn"
    *ngIf="selectedHorario"
    (click)="agendar(calendar)"
  >
    Agendar
  </button>
</div>

<div *ngIf="!mostrarFormulario">
  <h2>Minhas Consultas</h2>
  <div *ngIf="examTable">
    <table style="margin: 0" border="1">
      <tr>
        <th>Médico</th>
        <th>Horário</th>
        <th>Especialidade</th>
        <th>Data</th>
      </tr>
      <tr *ngFor="let item of list | async">
        <td [title]="['chave: ' + item.key]">{{ item.selectedMedico }}</td>
        <td>{{ item.selectedHorario }}</td>
        <td>{{ item.especialidade }}</td>
        <td>{{ item.calendar }}</td>
        <td>
          <button (click)="RemoverExame(item.key)">Remover Exame</button>
        </td>
      </tr>
    </table>
  </div>
</div>
